@using EndPoint.WebUI.Areas.Admin.Models.Identity;
@model CreateUserViewModel

@{
    ViewData["Title"] = "Create";
}

<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">افزودن کاربر</h4>
    </div>
    <form asp-controller="User" asp-action="Create"
          method="post"
          data-ajax="true"
          data-callback=""
          data-action="Refresh"
          enctype="multipart/form-data">
        <div asp-validation-summary="All"></div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="FirstName" class="form-label">نام</label>
                        <input type="text" asp-for="FirstName" class="form-control" maxlength="50">
                        <span asp-validation-for=FirstName></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="LastName" class="form-label">نام خانوادگی</label>
                        <input type="text" asp-for="LastName" class="form-control" maxlength="50">
                        <span asp-validation-for=LastName></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="UserName" class="form-label">نام کاربری</label>
                        <input type="text" asp-for="UserName" class="form-control" maxlength="50">
                        <span asp-validation-for=UserName></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Password" class="form-label">گذرواژه</label>
                        <input type="text" asp-for="Password" class="form-control" maxlength="500">
                        <span asp-validation-for=Password></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Email" class="form-label">ایمیل</label>
                        <input type="text" asp-for="Email" class="form-control" maxlength="256">
                        <span asp-validation-for=Email></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="BirthDate" class="form-label">تاریخ تولد</label>
                        <input type="text" asp-for="BirthDate" class="form-control" maxlength="50">
                        <span asp-validation-for=BirthDate></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">بستن</button>
            <button type="submit" class="btn btn-info waves-effect waves-light">ایجاد</button>
        </div>
    </form>
</div>